@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #ededed;
  --bannertext: #d24f13;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bannertext: var(--bannertext);
  --color-buttoncolormain: var(--buttoncolormain);
  --color-buttoncolorsecend: var(--buttoncolorsecend);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #83BCC2;
    --foreground: #173D58;
    --bannertext: #d24f13;
    --buttoncolormain: #83BCC2;
    --buttoncolorsecend: #D24F13;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}